$primary: #1c6b2b;
$background: #1a1e24;
$text: #e8e6e3;

body {
  font-family: "Red Hat Display", sans-serif !important;
}

.app-container {
  background: linear-gradient(45deg, $primary, #004f87, #008765, #2a315d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: $text;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn.btn-primary {
  background: $background;
  color: $text;
  border-color: $background;
  filter: drop-shadow(2px 2px 2px #000);
}

.btn.btn-primary:hover {
  background: $background;
  border-color: $background;
  opacity: 0.7;
  transition: 200ms;
}

.btn.btn-secondary {
  background: $primary;
  color: $text;
  border-color: $primary;
  filter: drop-shadow(2px 2px 2px #000);
}

.btn.btn-secondary:hover {
  background: $primary;
  border-color: $primary;
  opacity: 0.7;
  transition: 200ms;
}

.btn.btn-danger {
  filter: drop-shadow(2px 2px 2px #000);
}

.btn.btn-secondary:hover {
  opacity: 0.7;
  transition: 200ms;
}

.accordion-button {
  font-size: 24px;
  background-color: transparent;
  color: $text;
  border: none;
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
  color: $text;
  text-decoration: none;
  border: hidden;
  box-shadow: 0px;
  opacity: 0.6;
}

.accordion-button:focus {
  box-shadow: none;
  outline: 0;
}

.card {
  background: transparent !important;
}

.form-control {
  filter: drop-shadow(2px 2px 2px #000);
  border-radius: 25px !important;
  color: $text !important;
  background-color: $background !important;
  border-style: none !important;
  border-color: none;
}
