$primary: #1c6b2b;
$background: #1a1e24;
$text: #e8e6e3;

.movie-title {
  font-family: "Rubik Dirt", cursive;
  font-size: 2rem !important;
  .back-button {
    font-family: "Red Hat Display";
    color: $text;
    font-size: inherit;
    vertical-align: revert;
    padding-left: 0;
  }
  .back-button:hover {
    color: $text;
    text-decoration: none;
    opacity: 0.6;
  }
}

.movie-poster {
  filter: drop-shadow(5px 5px 5px #000);
  img {
    border-radius: calc(0.5rem - 2px);
    max-width: 250px;
  }
}

.movie-genre {
  .btn-link {
    color: $text;
    margin-block-start: auto;
    font-size: 1rem !important;
  }
  .btn-link:hover {
    color: $text;
    opacity: 0.6;
    text-decoration: none;
  }
  .label {
    margin-block-start: auto;
  }
}

.movie-director {
  .btn-link {
    color: $text;
    margin-block-start: auto;
    font-size: 1rem !important;
  }
  .btn-link:hover {
    color: $text;
    opacity: 0.6;
    text-decoration: none;
  }
  .label {
    margin-block-start: auto;
  }
}
