$primary: #1c6b2b;
$background: #1a1e24;
$text: #e8e6e3;

.director-name {
  font-family: "Rubik Dirt", cursive;
  .back-button {
    font-family: "Red Hat Display";
    color: $text;
    font-size: inherit;
    vertical-align: revert;
    padding-left: 0;
  }
  .back-button:hover {
    color: $text;
    text-decoration: none;
    opacity: 0.6;
  }
}
